@use './_variables.scss' as vars;

.app{
    font-family: vars.$font-stack;
    font-size: 16px;
    color: #eee;
    background: #121212;
}
h1,h2,h3{
    font-weight: 600;
    margin-bottom: 1rem;
}
p{  
    margin-bottom: 0.5rem;
}